@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500;700&display=swap');

/* RESET */

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

* {
  margin: 0;
  padding: 0;
}

/* STYLE */

:root {
  --sidebar-size : 15rem;

  --btn-bg-color: #E0E0E0;
  --btn-bg-color-hover: #AEAEAE;
  --btn-txt-color: #3F3F3F;
  --btn-shadow-color: rgba(51, 51, 51, 0.2);
}

/* sidebar */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  
  width: calc(var(--sidebar-size) - 3.5rem);
  height: 100vh;

  background-color: #FAFBFD;

  padding-left: 3.5rem;
}

.sidebar > header {
  margin-top: 3rem;

  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
}

.sidebar > header > span {
  color: #F7542E;
}

.sidebar__pages {
  margin-top: 7.5rem;
}

.sidebar__pages__label {
  display: block;

  font-family: 'Noto Sans JP', sans-serif;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: 500;
} 

.sidebar__pages__label:hover, .label_activate {
  font-weight: 700;
  color: #090F31;

  transition-duration: 0.3s;
}

.sidebar__pages__label + .sidebar__pages__label {
  margin-top: 2rem;
}

/* main */

.main {
  margin-top: 3.25rem;
  margin-left: calc(var(--sidebar-size) + 5rem);
}

.main > h1 {
  color: #4F4F4F;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
}

/* button */

button {
  color: var(--btn-txt-color);
  background-color: var(--btn-bg-color);
  box-shadow: 0px 2px 3px var(--btn-shadow-color);
  border-radius: 6px;
  font-family: 'Noto Sans JP';
  font-weight: 500;
  font-size: 14px;
  padding: 8px 16px;
  line-height: 20px;
  border: none;
  margin: 1rem;

  transition-duration: 0.3s;

  cursor: pointer;
}

button:hover, button:focus {
  background-color: var(--btn-bg-color-hover);
}

button:disabled {
  cursor: inherit;
}

.btn-variant-outline {
  --btn-bg-color: white;
  --btn-bg-color-hover: rgba(41, 98, 255, 0.1);
  --btn-txt-color: #3D5AFE;

  border: 1px solid #3D5AFE;
  box-shadow: none;
}

.btn-variant-text {
  --btn-bg-color: white;
  --btn-bg-color-hover: rgba(41, 98, 255, 0.1);
  --btn-txt-color: #3D5AFE;

  box-shadow: none;
}

.btn-disableShadow {
  box-shadow: none;
}

button:disabled {
  --btn-txt-color: #9E9E9E;
  --btn-bg-color-hover: var(--btn-bg-color);
}

.btn-size-sm {
  padding: 6px 12px;
}

.btn-size-lg {
  padding: 11px 22px;
}

.btn-color-primary {
  --btn-bg-color: #2962FF;;
  --btn-bg-color-hover: #0039CB;;
  --btn-txt-color: white;
  --btn-shadow-color: rgba(41, 98, 255, 0.2);
}

.btn-color-secondary {
  --btn-bg-color: #455A64;
  --btn-bg-color-hover: #1C313A;
  --btn-txt-color: white;
  --btn-shadow-color: rgba(69, 90, 100, 0.2);
}

.btn-color-danger {
  --btn-bg-color: #D32F2F;
  --btn-bg-color-hover: #9A0007;
  --btn-txt-color: white;
  --btn-shadow-color: rgba(211, 47, 47, 0.2);
}