.task {
    display: flex;
    gap: 0.5rem;
    
    margin-top: 1.5rem;

    align-items: center;

    cursor: pointer;
}

.task__checkbox {
    width: 22px;
    height: 22px;
    min-width: 22px;

    cursor: pointer;
}

.task__label {
    font-weight: 500;
    font-size: 1.125rem;
    text-align: left;
    
    word-break: break-word;

    color: black;
}

.completed {
    text-decoration-line: line-through;
    color: var(--black);
}

.task__delete {
    margin-left: auto;
    color: var(--gray-1);
    min-width: 24px;
}