@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
    --font-size-xl: 1.125rem;
    --font-size-l: 0.875rem;
    --font-size-m: 0.75rem;
    --font-size-s: 0.625rem;
}

@media (min-width:768px) {
    
    :root {
        --font-size-xl: 1.5rem;
        --font-size-l: 1rem;
        --font-size-m: 0.875rem;
        --font-size-s: 0.75rem;
    }

}

/* HEADER */
.main__header {
    display: flex;
    align-items: center;

    margin-bottom: 1.5rem;
}

.main__header__title {
    font-size: var(--font-size-xl);
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: rgba(51, 51, 51, 1);
}

.main__header__nb-stays {
    margin-left: auto;

    font-size: 0.875rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: rgba(79, 79, 79, 1);
}

/* STAYS CARD */
.main__content {
    display: grid;
    grid-template-columns: 1fr;

    gap: 2.5rem;
}

@media (min-width:768px) {

    .main__content {
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem 1.5rem;
    }

}

@media (min-width:1024px) {

    .main__content {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

.stay-card {
    width: 100%;
}

.stay-card__img {
    border-radius: 24px;

    width: 100%;
    object-fit: cover;
    aspect-ratio: 4 / 3;

    cursor: pointer;
}

.stay-card__content {
    margin: 0.375rem 0;

    display: flex;
    align-items: center;
}

.stay-card__content__data {
    display: flex;
    flex-direction: row;

    align-items: center;
}

.stay-card__content__data__tag {
    border: 1px solid #4F4F4F;
    border-radius: 12px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: var(--font-size-s);
    text-transform: uppercase;
    color: #4F4F4F;

    padding: 6px 9px;
    margin-right: 0.5rem;
}

.stay-card__content__data__title {
    font-size: var(--font-size-m);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: rgba(130, 130, 130, 1);
}

.stay-card__content__rating {
    margin-left: auto;

    display: flex;
    align-items: center;
}

.stay-card__content__rating__icon {
    color: rgba(235, 87, 87, 0.72);
}

.stay-card__content__rating__text {
    font-size: var(--font-size-m);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: rgba(79, 79, 79, 1);
}

.stay-card__title {
    margin: 0;

    font-size: var(--font-size-l);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(51, 51, 51, 1);
}