@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    /* Fonts */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Poppins, sans-serif;

    /* Colors */
    --bg-color: #F6F7FB;

    --dark: #000;
    --white: #FFF;

    --light-black: #282538;
    --grey: #B9BDCF;
    --blue: #1E86FF;
    --dark-blue: #334680;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    scroll-padding-top: 40px;
}

button {
    background: none;
    border: none;
    border-spacing: 0;
    list-style: none outside none;
    text-decoration: none;
}

body {
    background: var(--bg-color);
    padding: 0.75rem;
    
    scroll-behavior: smooth;
}

.job-duration {
    color: var(--dark-blue);
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 700;

    border: 1px solid var(--dark-blue);
    border-radius: 4px;
    padding: 6px 8px;

    width: fit-content;
}

.tag {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tag > img {
    height: 18px;
    width: 18px;
}

.tag > p {
    color: var(--grey);
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: 500;
}

/* Pickers */
.picker > h2 {
    color: var(--grey);
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 14px;
}